NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://user:password@host/database?sslmode=required"
JWT_SECRET=
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:5173"
SHORT_DOMAIN="http://localhost:3000"

ADMIN_EMAIL=
ADMIN_PASSWORD=